<ng-container [formGroup]="editFormGroup">
    <div class="col-sm-12 form-inline input-group input-group-sm desc-form-block">
        <label class="col-xs-3 col-form-label mr-2" i18n="descMd label|Label for field: descMd@@label.editform.tdoc.descMd">Beschreibung Markdown:</label>

        <div class="commandBlocks">
            <div class="commandBlock commandBlockRecommend" *ngIf="recommendAvailable === true">
                <span class="commandBlockLabel" (click)="onCallRecommendDesc()">&#x27F8; Generate</span>
            </div>

            <div class="commandBlock commandBlockRange" *ngIf="editorCommands.rangeCommands && editorCommands.rangeCommands.length > 0">
                <ng-container *ngFor="let rangeCommand of editorCommands.rangeCommands">
                    <span class="rangeCommand" (click)="addRangeCommand(rangeCommand)">{{rangeCommand.label}}</span>
                </ng-container>
            </div>

            <div class="commandBlock commandBlockSingle" *ngIf="editorCommands.singleCommands && editorCommands.singleCommands.length > 0">
                <ng-container *ngFor="let singleCommand of editorCommands.singleCommands">
                    <span class="singleCommand" (click)="addSingleCommand(singleCommand)">{{singleCommand.label}}</span>
                </ng-container>
            </div>

            <ng-container *ngFor="let commandBlock of editorCommands.commandBlocks">
                <div class="commandBlock commandBlocks">
                    <span class="commandBlockName" *ngIf="commandBlock.label">{{commandBlock.label}}</span>
                    <ng-container *ngFor="let command of commandBlock.commands">
                        <ng-container [ngSwitch]="command.type">
                            <ng-container *ngSwitchCase="'singleCommand'">
                                <span class="singleCommand" (click)="addSingleCommand(command)">{{command.label}}</span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'rangeCommand'">
                                <span class="rangeCommand" (click)="addRangeCommand(command)">{{command.label}}</span>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>
        </div>

        <textarea formControlName="descMd" class="form-control desc-form" type="text"
                  placeholder="description"
                  id="descMd"
                  i18n-placeholder="desc placeholder|Placeholder for desc@@placeholder.form.tdoc.desc"
                  (ngModelChange)="onInputChanged($event, 'descMd')"></textarea>
        <ng-container *ngIf="editFormGroup.getRawValue()['descMdRecommended']">
            <br>
            <span class="" (click)="useRecommendedDesc()">&#x27F8; Use it!!!!</span>
            <textarea formControlName="descMdRecommended" class="form-control recommended-desc-form" type="text"
                      placeholder="recommended description"
                      id="descMdRecommended"
                      disabled="disabled"
                      i18n-placeholder="descMdRecommended placeholder|Placeholder for descMdParsed@@placeholder.form.tdoc.descMdRecommended"
                      (ngModelChange)="onInputChanged($event, 'descMdRecommended')"></textarea>
        </ng-container>
    </div>
    <div class="col-sm-12 form-inline input-group input-group-sm desc-preview-block">
        <label class="col-xs-3 col-form-label mr-2"
               i18n="descMd label|Label for field: descMd@@label.editform.tdoc.descMd">Beschreibung Vorschau:</label>
        <span class="" (click)="renderDesc(true)">&#x27F8; Update</span>
        <div id="renderedDesc">{{renderDesc(false)}}</div>
    </div>
</ng-container>
