/*****************************************
 * default-markdown
 *****************************************/

/*****************************************
 * colors
 *****************************************/
.dps-md-background-info {
    background-color: #dee9ef;
}

.dps-md-background-news {
    background-color: #D2FFA5;
}

.dps-md-background-header {
    background-color: #8cacd3;
}

.dps-md-bordercolor-header {
    border-color: #8cacd3;
}

.dps-md-color-yellow {
    color: #fcf1b5;
}

.dps-md-color-white {
    color: white;
}

.dps-md-color-black {
    color: black;
}

/*****************************************
 * text
 *****************************************/
.dps-md-text-left {
    text-align: left;
}
.dps-md-text-center {
    text-align: center;
}

.dps-md-text-right {
    text-align: right;
}

.dps-md-text-verybig {
    font-size: 20px;
}

.dps-md-text-big {
    font-size: 16px;
}

.dps-md-text-norm {
    font-size: 11px;
}

.dps-md-text-small {
    font-size: 9px;
}

/*****************************************
 * lists
 *****************************************/
ul.dps-md-ul, ol.dps-md-ol {
    white-space: normal;
    word-wrap: normal;
}
li.dps-md-no-list-bullet {
    list-style: outside none none;
    margin-left: 10px;
}

li.dps-md-list-vertical {
    border-bottom: 0 none;
    border-right: 1px dotted #008000;
    border-top: 0 none;
    height: auto;
    list-style: outside none none;
    margin: 0;
    width: 100%;
}
li.dps-md-list-horiz {
    border-bottom: 0 none;
    border-right: 1px dotted #008000;
    border-top: 0 none;
    float: left;
    height: 120px;
    list-style: outside none none;
    margin: 0;
    width: 30%;
}

/*****************************************
 * table
 *****************************************/
table.dps-md-table, div.dps-md-box table {
    border: 1px solid #8CACD3;
    margin-left: 30px;
}

td.dps-md-table, div.dps-md-box td {
    border: 1px solid #8CACD3;
}

th.dps-md-table, div.dps-md-box th {
    font-weight: bold;
    background: #8CACD3;
}

tr.dps-md-table, div.dps-md-box tr {
    font-weight: bold;
    background: #DEE9EF;
}

/*****************************************
 * images
 *****************************************/
img.dps-md-img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}


