body {
    background: white;
}

.container {
    width: 100%;
    display: block;
}

.fx-bg-theme {
    background: #F3F7FB !important;
}
.fx-bg-type {
    background: #fcf1b5 !important;
}
.fx-bg-name {
    background: #F3F7FB !important;
}

.card-footer {
    background: #F3F7FB !important;
}

.card-action-buttons, .btn-navigation, .btn-action, .btn-action-icon {
    display: none !important;
}

.sectionpage-stacked-sidebar-container {
    display: none;
}

.sectionpage-stacked-left-content-container {
    page-break-before: avoid;
    page-break-inside: auto;
    display: block !important;
    width: 100% !important;
}

.sectionpage-dashBoard-container, .sectionpage-dashboard-container {
    display: none;
}

.sectionpage-adminarea-container {
    display: none;
}

.sectionpage-prevnext-nav-container {
    display: none;
}

.searchpage-stacked-sidebar-container {
    display: none;
}

.searchpage-stacked-right-content-container {
    page-break-before: avoid;
    page-break-inside: auto;
    display: block !important;
    width: 100% !important;
}



.toast-container {
    display: none;
}

.btn, .btn-primary {
    display: none !important;
}

div.navbar-collapse, #navbarContent {
    display: none !important;
}

ul.pagination {
    display: none !important;
}

div.tagContainer {
    display: none !important;
}

.card-header {
    display: none !important;
}

.hidden-print {
    display: none !important;
}

div.layout-big {
    display: block;
}
div.layout-small {
    display: block;
}
div.layout-verysmall {
    display: block;
}

.leaflet-map-container, .map-container {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
}

img {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
}

.visible-print-block {
    display: block !important;
}

.nav {
    display: none;
}

.dps-md-pagebreak-before, .md-pagebreak-before {
    page-break-before: always !important;
    float: none;
}

.dps-block-toggler {
    display: none !important;
}
